@model EcommerceMVC.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div style="display : flex;flex-direction : column">
    <h1>Login</h1>
    <hr />
    <div class="row">
        <div>
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="userName" class="control-label"></label>
                    <input asp-for="userName" class="form-control" />
                    <span asp-validation-for="userName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Login" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
    <div style="display : flex;justify-content : flex-end">
        Doesn't have a Account ? 
        <a asp-action="Index">Register</a>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


