@model EcommerceMVC.Models.Product

@{
    ViewData["Title"] = "UpdateProduct";
}

<div style="display:flex;flex-direction : column">
    <h1>UpdateProduct</h1>
    <hr />
    <div class="row">
        <div>
            <form asp-action="UpdateProduct">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="ProductName" class="control-label"></label>
                    <input asp-for="ProductName" value="@Model.ProductName" class="form-control" />
                    <span asp-validation-for="ProductName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" value="@Model.Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label class="control-label">Image</label>
                    <div class="custom-file">
                        <input type="file" class="form-control custom-file-input" />
                        <label class="custom-file-label">Choose file..</label>
                    </div>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
                <img src="@Model.Image" width="200" height="200" />
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $('.custom-file-input').on("change", function () {
                var file = this.files[0];
                var reader = new FileReader();
                reader.onloadend = function () {
                    imagebase64 = reader.result;
                    $("#image").attr("src", imagebase64).css("width", '200px').css("height", 'auto');
                }
                reader.readAsDataURL(file);

                var fileName = $(this).val().split("\\").pop();
                $(this).next('.custom-file-label').html(fileName);
            });
        })
    </script>
}
