@model EcommerceMVC.ViewModel.ProductViewModel;
@{
    ViewData["Title"] = "Home Page";
}


@foreach (var item in Model.Products)
{
    <div class="products">
        <div class="imageContainer">
            <img class="image" src="@item.Image" />
        </div>
        <div class="details">
            <div class="productName"><b>Product Name : </b>@item.ProductName</div>
            <div class="price"><b>Product Price : </b>@item.Price</div>
        </div>
        <div class="addCartButtom">
            <button class="addCart">Add To Cart</button>
        </div>
    </div>

}


